.transaction-component table.table tbody td:first-child,
.transaction-component table.table tbody td:not(:first-child),
.transaction-component table.table tbody th:first-child,
.transaction-component table.table tbody th:not(:first-child),
.transaction-component table.table thead td:first-child,
.transaction-component table.table thead td:not(:first-child),
.transaction-component table.table thead th:first-child,
.transaction-component table.table thead th:not(:first-child) {
  padding: 0 5px;
}

.v-text-field__prefix {
  padding-right: 25px !important;
}

.room-page .v-card__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.room-page .room-price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  border-top: 1px solid;
  margin-top: 10px;
  padding-top: 10px;
}

.room-page .room-number {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  background: #9ccc65 !important;
}

