.transaction-print .logo {
  font-size: 30px;
}

.transaction-print .logo-img img {
  width: 200px;
  height: auto;
  margin: 15px auto;
  display: block;
}

.transaction-print .logo-description {
  font-weight: bold;
  text-align: center;
  margin-top: -15px;
  font-size: 10px;
}

.transaction-print .logo-description .description-style {
  display: inline-block;
  background: #cdcdcd;
  color: #FF4500;
}

.transaction-print table {
  border-collapse: collapse;
}

.transaction-print p {
  margin-bottom: 0;
}

.transaction-print .print-signature-section {
  margin-top: 30px;
}

.transaction-print .logo {
  font-size: 50px;
  font-weight: bold;
}

.transaction-print-table th,
.transaction-print-table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 135mm;
    background: #fff;
  }

  .application .theme--dark.card,
  .theme--dark .card {
    background: #fff;
    color: #000;
  }

@page {
    size: 2in 4.5in;
    size: landscape;
    margin: 0;
}

  .v-navigation-drawer {
    display: none;
  }

  .v-content {
    padding: 0 !important;
    width: 100% !important;
    background: #fff !important;
  }

  .application .theme--dark.divider,
  .theme--dark .divider {
    background-color: #777;
  }

  .v-toolbar {
    display: none;
  }

  .logo {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .transaction-print .print-btn {
    display: none;
  }

  .logo-description {
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
    font-size: 10px;
  }

  .transaction-print-table table {
    width: 100% !important;
    border-collapse: collapse;
  }
}

