@media print {
  //html, body {
  //  width: 210mm;
  //  height: 297mm;
  //  background:#fff;
  //}

  html, body {
    width: 150mm;
    height: 135mm;
    background:#fff;
  }

  .application .theme--dark.card, .theme--dark .card{
    background:#fff;
    color:#000;
  }
  //@page
  //{
  //  size: 5.5in 8.5in;
  //  size: portrait;
  //}

  @page
  {
    size: 1in 2.5in;
    size: landscape;
    margin:0;
  }

  .v-navigation-drawer{
    display:none;
  }

  .v-content{
    padding:0 !important;
    width:100% !important;
    background:#fff !important;
  }

  .application .theme--dark.divider, .theme--dark .divider{
    background-color:#777;
  }

  .v-toolbar{
    display:none;
  }

  .logo{
    font-size:50px;
    font-weight:bold;
    text-transform:uppercase;
  }

  .transaction-print{
    .print-btn{
      display:none;
    }
  }

  .logo-description{
    color:#000;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
    font-size: 10px;
  }
}
