.room-page {
  .v-card__title {
    flex-direction: column;
    align-items: flex-start
  }

  .room-price-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    border-top: 1px solid;
    margin-top: 10px;
    padding-top: 10px;
  }

  .room-number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background: #9ccc65 !important;

    span.price {

    }
  }
}